body{
    margin: 0;
    border: box;
    background-color: #044e47;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.navbar{
    background-color: #03131c;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    
}

.nav_name{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 800;
    margin-left: 18px;
}

.nav_ops{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
}

.nav_ops p{
    margin: 16px;
    color: whitesmoke;
    display: flex;
}

.details{
    margin-top: 96px;
}

.intro{
    font-weight: 800;
    font-size: 28px;
    line-height: 10px;
    margin: 60px;
    margin-top: 180px;
    animation:nameanimation 1s ease-in 0s 1 normal;
}

@keyframes nameanimation{
    from{font-size: 0px;}
    to{font-size: 28px;}
}

/* .skills{
    margin-left: 60px;
    margin-top:0;
} */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.skills {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    animation: typing 2s steps(10, end) normal;
    margin-left: 60px;
    margin-top: 0;
}

.social_media  {
    margin: 26px 60px;
}

.social_media i {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 14px;
    margin: 6px;
    border: 2px solid #051822; 
    border-radius: 50%; 
    background-color: #4f1e3f; 
}

img{
    height: 400px;
    width: 280px;
    object-fit:cover;
    position: absolute;
    right: 96px;
    display: flex;
}

.brief{
    text-align: justify;
    margin-right: 600px;
    margin-left: 60px;
    line-height: 22px;
}

.btn{
    border-radius: 50px;
    margin-left:  60px;
    background-color:  rgb(94, 102, 126);
    font-weight: 600;
    font-size: 18px;
    width: 160px;
    height: 36px;
}


